
@import "@fontsource/archivo/400.css";
@import "@fontsource/archivo/500.css";
@import "@fontsource/archivo/600.css";
@import "@fontsource/archivo/700.css";
@import "@fontsource/poppins/400.css";
@import "@fontsource/poppins/500.css";
@import "@fontsource/poppins/600.css";
@import "@fontsource/poppins/700.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom button styles for .btn and .btn-primary */
.btn {
  border-radius: 60px !important;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative;
  display: inline-flex;
  font-family: 'Poppins', var(--poppins), sans-serif !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  transition: all 1s;
}

.btn-primary {
  --darkgray: #212338;
  --white: #fff;

  color: var(--darkgray) !important;
  background: var(--white) !important;
  border: 2px solid var(--white) !important;
  box-shadow: 0 2px 14px 0 rgba(243, 252, 255, 0.37) !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: var(--white) !important;
  color: var(--darkgray) !important;
  border: 2px solid var(--white) !important;
  box-shadow: 0 6px 32px 0 rgba(243, 252, 255, 1) !important;
}

/* Make the body use archivo font as default */
@layer base {
  html {
    font-family: 'Archivo', var(--archivo), Arial, Helvetica, sans-serif;
  }
  body {
    @apply bg-background text-foreground font-archivo;
  }
}

/* Make cards' background */
.poc-card {
  background: rgba(243, 252, 255, 1) !important;
}

/* Footer */
.bm-footer {
  background: #201842;
}
